@model WebProject_NetFramework.DbContext.DbModels.FacultyInfo

@{
    ViewBag.Title = "Faculty Info";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="m-portlet m-portlet--accent m-portlet--head-solid-bg m-portlet--head-sm" m-portlet="true" id="m_portlet_tools_1">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Detail
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Staff.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Staff.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Position)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Position)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FacebookName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FacebookName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TwitterName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TwitterName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SkypeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SkypeName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LinkedInName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LinkedInName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PicName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PicName)
                </dd>

            </dl>
        </div>
    </div>
    <div class="m-portlet__foot">
        @Html.ActionLink("Edit", "Edit", "FacultyInfos", new { id = Model.Id }, new { @class = "btn btn-primary btn-large" })
        <button type="button" onclick="window.location.href = '/FacultyInfos/Index'" class="btn btn-primary btn-large">Back to List</button>
    </div>
</div>