@model IEnumerable<WebProject_NetFramework.DbContext.DbModels.SystemSetting>

@{
    ViewBag.Title = "System Setting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Manage Systen Settings
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <div class="m-input-icon m-input-icon--left  m--margin-right-10">
                <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                    <span>
                        <i class="la la-search"></i>
                    </span>
                </span>
            </div>
            <a href="/EntranceTestVenues/Create" style=" min-width: 200px;" class="btn btn-primary m-btnm-btn--icon m-btn--wide m-btn--md m-btn--air m-btn--pill">
                <span>
                    <i class="la la-cart-plus"></i>
                    <span>New System Settings</span>
                </span>
            </a>
        </div>
    </div>
    <div class="m-portlet__body">
        <table class="m-datatable" width="100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AdmissionsOpen)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdmissionsOpen)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
